.projects {
  padding: 50px;
  padding-right: 0px;
}

.projects h2 {
  color: rgb(48, 44, 44);
  font-size: 8vw;
  padding-left: 0px;
  padding-bottom: 40px;
  text-align: left;
}

.see-more {
  padding-top: 60px;
  display: flex;
  justify-content: center;
  padding-right: 67px;
}

.see-more-btn {
  display: inline-block;
  border: 1px solid salmon;
  padding: 1rem 2.5rem;
  text-decoration: none;
  background: #f1efe9;
  color: black;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  font-weight: 300;
}

.see-more-btn:hover {
  color: #f1efe9;
  background: salmon;
}

@media screen and (max-width: 1024px) {
  .projects {
    padding: 0px;
  }

  .projects h2 {
    text-align: center;
  }
}

@media screen and (max-width: 1240px) and (min-width: 750px) {
  .projects h2 {
    text-align: center;
  }

  .projects {
    padding: 0px;
  }
}

@media screen and (max-width: 750px) {
  .projects {
    padding: 0px;
  }

  .projects h2 {
    padding: 0px;
    padding-bottom: 40px;
    text-align: center;
  }

  .see-more {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    padding-right: 0px;
  }
}
