.snapshots-container {
  overflow: auto;
  display: flex;
  scroll-snap-type: x mandatory;
  margin: 5%;
}

.fog-snapshots {
  flex-shrink: 0;
  scroll-snap-align: start;
  width: 20vh;
  height: 45vh;
  margin-right: 2%;
  margin-left: 2%;
  margin-bottom: 2%;
  border-radius: 6%;
}

.news-snapshots {
  flex-shrink: 0;
  scroll-snap-align: start;
  width: 60vh;
  height: 30vh;
  margin-right: 2%;
  margin-left: 2%;
  margin-bottom: 2%;
  border-radius: 5%;
}

.tech {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.project-container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 1%;
}

.project-card {
  width: 80vh;
  border: 2px solid black;
  border-radius: 0.5rem;
}

.snapshots-heading {
  text-align: start;
  margin-left: 5%;
}