@keyframes fade-in {
  0% {
    opacity: 0;
    top: 10vh;
  }
  100% {
    opacity: 1;
  }
}

.side-nav {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  gap: 1rem;
  font-size: 1.25rem;
  animation: fade-in 1s;
}

.github {
  text-decoration: none;
  color: salmon;
  gap: 1.5rem;
  font-size: 1.75rem;
  padding: 15px;
}

.linkedin {
  text-decoration: none;
  color: salmon;
  gap: 1.5rem;
  font-size: 1.75rem;
  padding: 3px;
}

.cv {
  display: inline-block;
  border: 1px solid salmon;
  padding: 0.2rem 1.8rem;
  margin: 0;
  text-decoration: none;
  background: #f1efe9;
  color: black;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  font-weight: 300;
}

.cv:hover {
  color: #f1efe9;
  background: salmon;
}

.side-nav-cv {
  padding-right: 50px;
  padding-top: 30px;
}

.github-icon {
  padding: 0px;
  padding-bottom: 0px;
}

.github-icon:hover {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}

.linkedin-icon {
  padding: 0px;
  padding-bottom: 0px;
}

.linkedin-icon:hover {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}

@media screen and (max-width: 1024px) {
  .side-nav {
    gap: 1rem;
  }
}

@media screen and (max-width: 750px) {
  .side-nav {
    flex-direction: row-reverse;
    justify-content: left;
    gap: 1rem;
    padding-left: 50px;
  }

  .cv {
    padding: 0.3rem 1rem;
  }

  .cv:hover {
    padding: 0.3rem 1rem;
  }
}
