.about-links {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.about {
    background: #beceb0; 
    padding: 30px;
}

.about h2 {
    font-family: 'Oxygen', sans-serif;
    color: #1e5e5a;
    font-size: 60px;
    padding: 30px;
    padding-bottom: 10px;
}

.about button {
    font-family: 'Oxygen', sans-serif;
    text-decoration: none;  
}