.about-container {
  display: flex;
  grid-template-columns: repeat(3, 1fr);
  gap: 0rem;
}

.about-card {
  border: 0.75px solid black;
  /* padding-top: 40px; */
  background-color: #f1efe9;
  font-family: "Oxygen", sans-serif;
  padding-bottom: 10px;
}

.about-card h3 {
  font-family: "Noto Serif JP", serif;
  padding: 10px;
  padding-bottom: 0px;
  color: salmon;
}

.about-card small {
  font-family: "Noto Serif JP", serif;
}
