.about-container {
    display: flex;
    flex-direction: row;
    margin: 2%;
}

.about-card {
    border: 2px solid #1e5e5a;
    border-radius: 0.5rem;
    background-color: #f1efe9;
    font-family: 'Oxygen', sans-serif;
}

.about-card h3 {
    color: #1e5e5a;
    padding: 10px;
}

.about-card p {
    color: #7d916b;
    margin: 10px;
}

.about-card small {
    color: #1e5e5a;
    margin: 10px;
    padding: 10px;
}