.about-container {
    display: flex;
    justify-content:center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2%;
}

.about-card {
    border: 2px solid black;
    border-radius: 0.5rem;
}