#contact {
  margin: 0 auto;
  background: #beceb0; 
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

input,
textarea {
  width: 100%;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background-color: transparent;
  resize: none;
  background-color: rgba(245, 245, 245, 0.92);
}

.label {
  text-align: left;
}