#contact {
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 50px;
}

.contact-header {
  text-align: center;
  font-size: 15vh;
  padding-bottom: 15px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding: 20px;
  padding-right: 50px;
  place-items: center;
}

input,
textarea {
  width: 80%;
  padding: 1.5rem;
  background-color: transparent;
  resize: none;
  border: 1px solid salmon;
  font-family: "Courier New", Courier, monospace;
}

input:focus,
textarea:focus,
input:active,
textarea:active {
  outline: 1px solid rgb(37, 33, 33);
  border: none;
  background-color:none;
}

.contact-container h5 {
  font-size: 3vh;
  text-align: center;
  padding: 30px;
  padding-bottom: 0px;
  padding-top: 0px;
  padding-left: 40px;
  color: rgb(37, 33, 33);
}

.contact-links {
  color: salmon;
  font-size: 10vh;
}

.send-btn {
  display: inline-block;
  border: 1px solid salmon;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background: #f1efe9;
  color: black;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  font-weight: 300;
}

.send-btn:hover {
  color: #f1efe9;
  background: salmon;
}

@media screen and (max-width: 1024px) {
  .contact-header {
    text-align: center;
    font-size: 6vh;
  }
}

@media screen and (max-width: 750px) {
  .contact-header {
    text-align: center;
    font-size: 6vh;
  }
}
