@keyframes fadeInAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

.header {
    padding: 60px;
    padding-bottom: 0px;
    padding-top: 0px;
    height: 100%;
    position: relative;
}

.header h1 {
    animation: fadeInAnimation ease-in 1s;
    display: block;
    font-weight: 800;
    font-stretch: condensed;
    line-height: 1;
    text-transform: uppercase;
    font-size: 15vw;
    text-align: left;
    color: rgb(21, 19, 19);
}

.header h4 { 
    padding: 15px;
    font-size: 20px;
    text-align: left;
    font-family:'Noto Serif JP', serif;
}