.footer-items {
  background-color: salmon;
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  flex-direction: row;
  padding: 30px;
  padding-bottom: 40px;
  padding-left: 50px;
  padding-right: 50px;
}

.footer-links {
  padding: 20px;
  display: flex;
  justify-content: center;
  gap: 1rem;
  font-size: 1.5rem;
  padding-right: 50px;
}

.githubLink {
  text-decoration: none;
  color: salmon;
  gap: 1.5rem;
  font-size: 1.75rem;
  padding: 15px;
}

.linkedInLink {
  text-decoration: none;
  color: salmon;
  gap: 1.5rem;
  font-size: 1.75rem;
  padding: 15px;
}

.githubLink:hover {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}

.linkedInLink:hover {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}

.btn {
  display: inline-block;
  border: salmon;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background: #f1efe9;
  color: rgb(37, 33, 33);
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  font-weight: 300;
}

.btn:hover {
  color: #f1efe9;
  background: salmon;
  border: salmon;
}

@media screen and (max-width: 1024px) and (min-height: 800px) {
  .btn {
    display: inline-block;
    border: salmon;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: #f1efe9;
    color: rgb(37, 33, 33);
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    font-weight: 300;
  }
}

@media screen and (max-width: 1024px) {
  .btn {
    display: inline-block;
    border: salmon;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: #f1efe9;
    color: rgb(37, 33, 33);
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    font-weight: 300;
  }
}

@media screen and (max-width: 750px) {
  .btn {
    display: flex;
    border: salmon;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: #f1efe9;
    color: rgb(37, 33, 33);
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    font-weight: 300;
  }

  .footer-items {
    gap: 0.5rem;
    padding: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
